<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale=1, shrink-to-fit="no">
        <title>Hello, pybo!</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    </head>
    <body>
        {% include "navbar.html" %}
        {% block content %}
        {% endblock %}

        <!-- jQuery JS -->
        <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
        <!-- Bootstrap JS -->
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    </body>
</html>